.chat-main
  .header
  .messages
  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a messasge"}
        %label{class: "input-box__image"}
          =icon('fas','image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}      
    
  